<div class="container">
    <div *ngIf="listing">
      <h2 class="page-header">{{listing.title}} <small>{{listing.city}}</small></h2>
      <div class="row" *ngIf="videoUrl">
        <div class="col-md-8">
          <video *ngIf="videoUrl" id="{{id}}"
            class="video-js moo-css my-custom-skin vjs-default-skin vjs-big-play-centered vjs-16-9"
            controls
            preload="auto"
          >
            <source src="{{listing.url}}" type="video/mp4">
          </video>
        </div>
        <div class="col-md-4">
          <ul class="list-group">
            <li class="list-group-item"><p><strong>Source: </strong>  {{listing.owner}}</p></li>
            <li class="list-group-item"><p><strong>Description: </strong>  {{listing.desc}}</p></li>
          </ul>
          <br/>
          <h5 class="text-center">Rate this video</h5>
          <star-rating-comp [starType]="'svg'" [rating]="rating"></star-rating-comp>
        </div>
        <!--
        <a [routerLink]="['/edit-listing/'+listing.$key]" class="btn btn-default">Edit</a>
        <a (click)="onDeleteClick()" class="btn btn-danger">Delete</a>
        -->
      </div>
      <br/>
      <a id="go-back" class="btn btn-primary" [routerLink]="['/listings']">GO BACK</a>
      <br/>
    </div>

</div>
