<div class="container">
  <div class="row my-flex-card justify-content-center">
    <div class="col-md-5 m-1" *ngFor="let new of news">
      <div class="card">
        <a target="_blank" href="{{new.siteUrl}}">
          <img class="card-img-top img-fluid" src="{{new.url}}" alt="">
          <h5 class="card-title px-4 pt-4">{{new.title}}?</h5>
        </a>
          <div class="card-block">
            <p class="card-text news-desc">{{new.desc}}</p>
          </div>
      </div>
    </div>
  </div>
</div>

<!--
    <div class="col-md-5 m-1">
      <div class="card">
        <a target="_blank" href="https://www.theguardian.com/lifeandstyle/2017/may/26/how-can-you-judge-yourself-fairly-oliver-burkemen#img-1">
          <img class="card-img-top img-fluid" src="assets/img/news/think-yourself.jpeg" alt="">
          <h5 class="card-title px-4 pt-4">Think you’re self-aware? Think again </h5>
        </a>
          <div class="card-block">
            <p class="card-text news-desc">The psychologist Tasha Eurich reports that 95% of people think they’re self-aware – that is, conscious of what really makes them tick and how they come across to others – yet only about 10-15% of us truly are. </p>
          </div>
      </div>
    </div>
  -->
