<nav class="navbar navbar-toggleable-sm navbar-light fixed-top bg-primary navbar-inverse">

  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <a class="navbar-brand" (click)="changeRoute()">e-Health App</a>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav mr-auto" *ngIf="!showNav">
        <li data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item" *ngIf="(user | async)"><a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/profile']">Profile</a></li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item" *ngIf="(user | async)"><a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/blogs']">Blog</a></li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item" *ngIf="(user | async)"><a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/news']">News</a></li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item" *ngIf="(user | async)"><a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/listings']">Exercises</a></li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show" class="nav-item" *ngIf="(user | async)"><a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/nutritions']">Nutritions</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="!(user | async)" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="btn btn-outline-secondary" [routerLink]="['/login']">Login</a></li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="!(user | async)" class="nav-item register" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="btn btn-outline-secondary" [routerLink]="['/signup']">Register</a></li>
        <li data-toggle="collapse" data-target=".navbar-collapse.show" *ngIf="(user | async)" class="nav-item logout" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"><a class="btn btn-outline-secondary logout" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
