<!--
<div class="jumbotron">
  <h2>Welcome to e-Health World</h2>
  <p>Only solution of any health problems via web. Do you want our service from home? You came to the right place. We have all the solutions you need.</p>
</div>
-->

<header>
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h2>Welcome to e-Health World</h2>
                            <p class="lead">Only solution of any health problems via web. Do you want our service from home? You came to the right place. We have all the solutions you need.</p>
                            <a [routerLink]="['/login']" class="btn btn-outline btn-xl page-scroll">Start Now for Free!</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="assets/img/screenshot.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="download" class="download bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="section-heading">Discover what all the buzz is about!</h2>
                    <p>With the simple interface, applicants can be up and running on this eHealthApp almost instantly. Applications are submitted with a few mouse clicks, downloaded in seconds by carriers, and underwritten faster and more easily.</p>
                </div>
            </div>
        </div>
    </section>

    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Useful Features, Unlimited Fun</h2>
                        <p>Check out what you can do with this app!</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup iphone6_plus portrait">
                            <div class="device">
                                <div class="screen">
                                    <img src="assets/img/home-icon.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 feature-header">
                    <div class="container-fluid">
                      <h3>With Chromium based browsers for Android (Chrome, Opera, etc...), e-Health app includes a Web App Manifest that allows you to install to your homescreen.</h3>
                        <div class="row feature-list">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-mobile fa-3x" aria-hidden="true"></i>
                                    <h4>Responsive</h4>
                                    <p>Completely responsive UI that can be installed to your mobile home screen to provide a native feel!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-camera-retro fa-3x" aria-hidden="true"></i>
                                    <h4>Flexible Use</h4>
                                    <p>You can use this app wherever you are, at your home or office!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-gift fa-3x" aria-hidden="true"></i>
                                    <h4>Free to Use</h4>
                                    <p>All the contents of the app is free to use upon registration!</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="fa fa-unlock-alt fa-3x" aria-hidden="true"></i>
                                    <h4>Open Source</h4>
                                    <p>Feel free to modify or upgrade this app! You can have the source code. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2017 e-Health App. All Rights Reserved.</p>
        </div>
    </footer>
