h1, h2, h3, h4, h5 {
  font-weight: 300;
}

header {
  margin-top: -24px;
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: url(/assets/img/bg-pattern.png), #424242;
  background: url(/assets/img/bg-pattern.png), -webkit-linear-gradient(to left, #424242, #9E9E9E);
  background: url(/assets/img/bg-pattern.png), linear-gradient(to left, #424242, #9E9E9E);
  color: #fff;
}

.header-content-inner {
  margin-top: 200px;
}

@media(max-width: 991px) {
  .header-content-inner {
    margin-top: 50px;
  }
}

@media(max-width: 767px) {
  .header-content-inner h2, p {
    text-align: center;
  }
  .header-content-inner .btn-xl {
    display: block;
    width: 250px;
    margin: 0 auto !important;
  }
}

.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}

.btn-xl:hover {
  background: #717171;
  border-color: #717171;
  opacity: 0.7;
}

.btn {
  border-radius: 300px;
  font-family: Lato, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-outline {
  color: #fff;
  border: 1px solid;
}

.device-mockup.iphone6_plus {
  margin-top: 45px;
  padding-bottom: 201.76%;
}

.device-mockup.iphone6_plus .device {
  background-image: url(/assets/img/iphone_6_plus_white_port.png);
}

.device-mockup {
  position: relative;
  width: 100%;
}

.device-mockup>.device {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.device-mockup.iphone6_plus>.device>.screen {
  top: 11.58%;
  bottom: 11.58%;
  left: 5.97%;
  right: 5.97%;
}

.device-mockup>.device>.screen {
  position: absolute;
  top: 11.0438729%;
  bottom: 14.6747352%;
  left: 13.364486%;
  right: 13.364486%;
  overflow: hidden;
}


/* Section: Download */

section.download {
  margin-top: -300px;
  padding: 150px 0;
  position: relative;
}

@media(max-width: 991px) {
  section.download {
    margin-top: -200px;
  }
}

@media(max-width: 767px) {
  section.download {
    margin-top: -300px;
  }
}

.bg-primary {
  background: #799063;
  background: linear-gradient(-45deg, #799063 20%, #2C3E50 80%);
  background: -webkit-linear-gradient(-45deg, #799063 20%, #2C3E50 80%);
}


/* Section: Features */

.features {
  background: #ffffff;
}

.features .feature-header {
  margin-top: 150px;
}

.features .feature-list {
  margin-top: 80px;
}

@media(max-width: 1199px) {
  .features .feature-header {
    margin-top: 80px;
  }
  .features .feature-list {
    margin-top: 70px;
  }
}

@media(max-width: 991px) {
  .features .feature-header {
    margin-top: 30px;
  }
  .features h3 {
    font-size: 1.4rem;
  }
  .features .feature-list {
    margin-top: 30px;
  }
}

.features h4, p, .fa {
  display: block;
  text-align: center;
}


/* Footer */

footer {
  background-color: #263647;
  padding: 35px 0;
  text-align: center;
  color: #D4D4D4;
}
