<div class="form-container" @moveIn>
  <a routerLink="/login" id="goback">Go back</a>

  <h2>Join now</h2>

  <span class="error" *ngIf="error" @fallIn>{{ error }}</span>

  <form #formData='ngForm' (ngSubmit)="onSubmit(formData)">
    <input type="text" placeholder="Email address" name="email" class="txt" required>
    <input type="password" placeholder="Password" name="password" class="txt" required>
    <button type="submit" [disabled]="!formData.valid" class="basic-btn">Create my account</button>
  </form>
</div>
