/* You can add global styles to this file, and also import other style files */

body {
  background: #E2E4E6;
  padding-top: 100px;
  font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-family: 'Roboto', sans-serif; */
  /*font-family: Catamaran, Helvetica, Arial, sans-serif; */
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
}

a {
  text-decoration: none !important;
}


/***** User Login and Register *****/

.form-container {
  background: white;
  padding: 2em;
  width: 400px;
  margin: 0 auto !important;
}

.login-button {
  padding: 1em;
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
}

.basic-btn {
  background: #3B8598;
  color: white;
  padding: 1em;
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
}

input.txt {
  background: #fff !important;
  padding: .7em 1em;
  margin: .2em 0;
  font-size: 1.3em;
  width: 100%;
  border: 1px solid #BBBBBB;
}

h2 {
  margin: 1em 0 .9em 0;
}

.alc {
  text-align: center;
  display: block;
  margin: 15px 0;
}

.error {
  background: #f1f0ef;
  padding: 1em;
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

#goback {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .8em;
  color: #3B8598;
}

#goback span {
  font-size: 1em;
}

@media (max-width: 600px) {
  .form-container {
    padding: 1.2em;
    width: 90%;
    margin-left: -45%;
  }
  button {
    font-size: 1em;
  }
}

.alc {
  color: #2C3E50;
}


/***** Loading *****/

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner>div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4)
  }
  20% {
    -webkit-transform: scaleY(1.0)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


/***** Navbar *****/

.navbar-inverse .navbar-nav .nav-link {
  color: #9E9E9E;
}

.active {
  color: #ffffff !important;
}

.navbar-inverse .navbar-nav .nav-link:hover {
  color: #ffffff !important;
}

.logout {
  cursor: pointer;
  color: #ffffff !important;
}

.navbar-brand {
  font-size: 1.5rem;
}

.active {
  color: #00B591 !important;
}

@media (max-width: 767px) {
  .logout {}
  .navbar-nav .nav-item+.nav-item {
    margin-left: 0;
  }
  .logout {
    margin-top: 5px;
  }
  .register {
    margin-top: 10px;
  }
}

.btn {
  cursor: pointer;
}


/***** Bootstrap Cards *****/

.card-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


/***** News *****/

.news-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.my-flex-card>div>div.card {
  height: calc(100% - 15px);
  margin-bottom: 15px;
}

#loadMore {
  cursor: pointer;
}


/***** Dummy *****/

.dummy_svg {
  max-width: 175px;
  display: block;
  margin: 0 auto;
}

#refresh {
  display: block;
  margin: 0 auto;
}

.rotate-button {
  text-align: center;
}

.body-part {
  opacity: 0;
  cursor: pointer;
}

.body-part:hover {
  opacity: .2;
  cursor: pointer;
}


/***** welcome page *****/

.welcome {
  max-width: 600px;
  margin: 30px auto;
}
