<!--
<div class="">
  <div id="blog">

    <h1>e-Health Blog</h1>
    <p>Latest blog and articles related to your health.</p>
  </div>
</div>

-->

<!-- Page Content -->
<div class="container">
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-lg-12">
            <h2>How can fitness apps help you?</h2>
            <!-- Author -->
            <p class="lead"> by <a href="#">Suraj Shrestha</a></p>

            <hr>
            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>
            <hr>

            <!-- Preview Image -->
            <img class="img-fluid" src="http://placehold.it/900x300" alt="">
            <hr>

            <!-- Post Content -->
            <p class="lead">A look at the benefits of health and fitness apps.</p>
            <p>Ever wanted to improve your fitness but don’t have the time or money to keep to a specific fitness regime at the gym? We all know that feeling.</p>
            <p>Want to improve your strength but don’t have the motivation or patience to keep it going long term? We know that one too.</p>
            <p>For most people sitting at their desk, keeping fit is a massive problem; many work long hours, with no time, motivation, or energy to hit the gym at the end of the day.</p>
            <p>Well there’s good news. You don’t need to spend a fortune, and you certainly don’t need a large amount of time to make this work. All you need is a smart phone.</p>
            <p>Fitness apps could be your new best friend.</p>

            <h5>Progress tracking</h5>
            <p>If you are serious about working on your fitness, you’ll have to track your progress, otherwise you’ll never know if you reach your goals and objectives. Whether it’s through measuring your steps taken, calories burned or heart rate throughout the week, there can be some huge benefits to going full-on Quantified Self. What better way to keep motivated than to know that you are getting fitter and healthier? With fitness apps, tracking your progress turns the dreaded progress check into something fun and engaging!</p>
            <p>Many apps have the ability to show your progress through visualising features such as graphs, charts and other types of visual imagery. This type of visualisation makes all that data seem much clearer; you know exactly what you’re doing well at and what you can improve on. In this way, your own data can be more meaningful and more motivating.</p>
        </div>
    </div>
</div>
